* {
    box-sizing: border-box;
}

.color {
    flex: 1;
    display: flex;
    justify-content: center;
}

.color-inputs {
    align-self: flex-end;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.range {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.range-label {
    margin: 10px 0;
    text-align: center;
    max-width: 300px;
}

input[type="checkbox"] {
    align-self: center;
    margin-top: 20px;
}
