* {
  box-sizing: border-box;
}

button {
    margin: 2px;
    padding: 5px;
    background: transparent;
    font-size: 16px;
    border: 2px solid;
    color: hsla(0,0%,0%,.6);
}

button:hover {
    cursor: pointer;
}

button:disabled {
    color: hsla(0,0%,0%,.3);
}

@media (min-width: 800px) {
    .color-container {
      display: flex;
      height: calc(100vh - 50px);
      justify-content: space-between;
      overflow-x: scroll;
    }
}
