* {
  box-sizing: border-box;
}

.color-container {
  display: flex;
  height: calc(100vh - 50px);
  justify-content: space-between;
}

button {
    margin: 2px;
    padding: 5px;
    background: transparent;
    font-size: 16px;
    border: 2px solid;
    color: hsla(0,0%,0%,.6);
}

button:hover {
    cursor: pointer;
}
