* {
    box-sizing: border-box;
}

.color {
    flex: 1;
    display: flex;
    justify-content: center;
}

.color-inputs {
    align-self: flex-end;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.range {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.range-label {
    display: block;
    margin: 10px auto;
    text-align: center;
    max-width: 300px;
}